body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  height: 100vh;
}

.center {
  background-color: thistle;
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
